<html>
    <head>
        <title>Eyüp'ün Blogu</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Eyüp'ün Blogu</a></h1>
        </div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Ýlk Blogum</a></h2>
            <p> ... </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:20</p>
            <h2><a href="">Ýkinci gönderim</a></h2>
            <p>...</p>
        </div>
	
	<table border="1">
 
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
    </tr>
    
    <tr>
        <td>5</td>
        <td align="center" rowspan="2" colspan="2" >6</td>
        <td>7</td>
    </tr>
    
    <tr>
        <td>8</td>
        <td>9</td>
    </tr>
    
    <tr>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
    </tr>
</table>

    </body>
</html>